In [1]:
#1. Read CSV file and view first five rows:-

import pandas as pd

# Load CSV file
csv_url = "https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv"
titanic_df_csv = pd.read_csv(csv_url)

# Display first five rows
print("1. First five rows of the CSV file:")
print(titanic_df_csv.head())

1. First five rows of the CSV file:
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [2]:
#2. Read excel file and view summary statistics:-

# Load Excel file
excel_url = "https://github.com/YBIFoundation/Dataset/raw/main/Titanic.xlsx"
titanic_df_excel = pd.read_excel(excel_url)

# Display summary statistics
print("\n2. Summary statistics of the Excel file:")
print(titanic_df_excel.describe())

2. Summary statistics of the Excel file:
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881138     0.498854     0.385027
std       0.837836     0.486055    14.413493     1.041658     0.865560
min       1.000000     0.000000     0.170000     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

In [3]:
#3. Read semicolon separated file and view information:-

# Load semicolon-separated file
semicolon_url = "https://github.com/YBIFoundation/Dataset/raw/main/Titanic%20Semicolon.csv"
titanic_df_semicolon = pd.read_csv(semicolon_url, sep=';')

# Display information
print("\n3. Information of the semicolon-separated file:")
print(titanic_df_semicolon.info())

3. Information of the semicolon-separated file:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     101 non-null    int64
 1   survived   101 non-null    int64
 2   name       101 non-null    object
 3   sex        101 non-null    object
 4   age        92 non-null     float64
 5   sibsp      101 non-null    int64
 6   parch      101 non-null    int64
 7   ticket     101 non-null    object
 8   fare       101 non-null    float64
 9   cabin      82 non-null     object
 10  embarked   101 non-null    object
 11  boat       69 non-null     object
 12  body       8 non-null      float64
 13  home.dest  91 non-null     object
dtypes: float64(3), int64(4), object(7)
memory usage: 11.2+ KB
None

In [4]:
#4. Read json (JavaScript Object Notation) file as pandas data frame:-

# Load JSON file
json_url = "https://github.com/YBIFoundation/Dataset/raw/main/Titanic.json"
titanic_df_json = pd.read_json(json_url)

# Display the JSON file as a data frame
print("\n4. JSON file as a pandas data frame:")
print(titanic_df_json)

4. JSON file as a pandas data frame:
      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex   age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female    29      0      0   24160  211.3375       B5        S    2
1       male  0.92      1      2  113781    151.55  C22 C26        S   11
2     female     2      1      2  113781    151.55  C22 C26        S
3       male    30      1      2  113781    151.55  C22 C26        S
4     female    25      1      2  113781    151.55  C22 C26        S
...      ...   ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5      1      0    2665   14.4542                 C
1305  female            1      0    2665   14.4542                 C
1306    male  26.5      0      0    2656     7.225                 C
1307    male    27      0      0    2670     7.225                 C
1308    male    29      0      0  315082     7.875                 S

     body                        home.dest
0                             St Louis, MO
1          Montreal, PQ / Chesterville, ON
2          Montreal, PQ / Chesterville, ON
3     135  Montreal, PQ / Chesterville, ON
4          Montreal, PQ / Chesterville, ON
...   ...                              ...
1304  328
1305
1306  304
1307
1308

[1309 rows x 14 columns]